@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

@import "tailwindcss";

@theme {
    --font-poppins: Poppins, "sans-serif";
    --font-inter: Inter, "sans-serif";
    --color-biru-dasar: #4778EC;
    --color-putih-second: #E2E8F0;
}

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFE6DC;
    scroll-behavior: smooth;
}