@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
}

@layer base {
  :root {
    --font-poppins: Poppins, "sans-serif";
    --font-inter: Inter, "sans-serif";
    --color-biru-dasar: #4778EC;
    --color-putih-second: #E2E8F0;
    --color-gold-first: #FBBF24;

    /* Breakpoint */
    --breakpoint-xs: 200px;
  }
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounceOnce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

.animate-bounce-once {
  animation: bounceOnce 1s ease-in-out;
}



html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3F4F6;
  scroll-behavior: smooth;
}
